:root {
    --clr-dark-title: hsl(212, 27%, 19%);
    --clr-desc: hsl(232, 10%, 60%);
    
    //This is for the sections with learn more link underline
    --clr-transform-section: hsl(51, 100%, 49%);
    --clr-standout-section: hsl(7, 99%, 70%);
    
}