@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');


:root {
    --ff-primary: 'Barlow', sans-serif;
    --ff-primary-title: 'Fraunces', serif;
    
    --fs-200: 0.875rem; //14px
    --fs-300: 1rem;
    --fs-400: 1.125rem; //18px
    --fs-500: 1.25rem; //20px
}